.recent-posts time {
  margin-left: 5px;
  font-size: 0.8em;
}
.post {
  margin-bottom: 2em;
}
.post h1 > time {
  margin-left: 1em;
  font-size: 0.6em;
  color: $primary-light;
}
.post h3 {
  font-weight: 300;
  font-size: 1.2em;
  text-transform: uppercase;
}
