p {
  font-weight: 300;
}
p.bold {
  font-weight: 400;
}
p.headline {
  font-size: 1.2em;
  text-transform: uppercase;
}
p.callout {
  display: inline-block;
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 1.2em 2em;
  border: 1px solid $text-light;
}
a {
  color: $white;
}
a:active,
a:visited {
  color: $white;
}
a:hover {
  color: $primary-light;
}
h1 {
  font-size: 2em;
  line-height: 1em;
}
