body {
	background: #fff;
	color: #222;
	-webkit-font-smoothing: antialiased;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.05em;
	font-weight: 400;
	height: auto !important;
	height: 100%;
	line-height: 1.6em;
	min-height: 100%;
}

.wrapper {
	display: block;
	margin: 0 auto;
	width: 1100px;
}

h1 {
	border-bottom: 1px solid #eee;
	font-weight: 500;
	padding: 24px 0 12px;
	margin: 0 24px 24px;
}

h3 {
	margin: 0 0 12px;
	padding: 24px 24px 0;
}

p {
	padding: 0 24px 48px;
}

p > a {
	color: rgba(62,188,207,0.96);
	font-weight: bold;
}
