.box
  position: relative
  padding: 0.1em 1em 3em
  margin: 1em 0 2em

  &.margin-top-40
    margin-top: 40px

  &.box-white
    background: rgba(254, 254, 254, 0.8)
    color: $text-dark

    &:before
      content: ''
      position: absolute
      bottom: 0
      right: 0
      border-bottom: 40px solid $primary
      border-left: 40px solid transparent
      width: 0


  &.box-dark
    background: rgba(25, 118, 210, 0.5)

    &:before
      content: ''
      position: absolute
      bottom: 0
      right: 0
      border-bottom: 40px solid $primary
      border-left: 40px solid transparent
      width: 0

    a
      color: $text-light

      &:hover
        color: $primary-light

      &:active, &:visited
        color: $text-light
