// recent-posts
.recent-posts
 time
  margin-left: 5px
  font-size: 0.8em

.post
  margin-bottom: 2em

  h1 > time
   margin-left: 1em
   font-size: 0.6em
   color: $primary-light

  h3
    font-weight: 300
    font-size: 1.2em
    text-transform: uppercase

// pricing
div.pricing
  min-width: 100%
  display: inline-block
  font-size: 1.2em
  text-transform: uppercase
  padding: 1.2em 2em
  background: rgba(255,255,255,0.8)
  color: $primary-dark

  table
    width: 100%

@media (min-width: $medium)
  div.pricing
    min-width: 50%
