header {
	background: linear-gradient(to left,rgba(54,194,182,0.96) 0,rgba(62,188,207,0.96) 100%);
	border-bottom: 1px solid rgba(0,0,0,.1);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	display: block;
	height: 60px;
	line-height: 60px;
	overflow: hidden;
	position: fixed;
	text-transform: uppercase;
	width: 100%;
	z-index: 1000;
}

nav > ul {
	list-style-type: none;
	margin: -1px 0 0 0;
}

nav > ul > li {
	display: inline-block;
	transition: all 0.1s linear;
}

nav > ul > li > a {
	color: rgba(255,255,255,.75);
	display: block;
	font-size: .8em;
	font-weight: 600;
	letter-spacing: 1px;
	padding: 0 24px;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0,0,0,.1);
}

nav > ul > li.active > a,
nav > ul > li.logo > a {
	color: rgba(255,255,255,1);
}

nav > ul > li:not([class="active"]):hover {
	background-color: rgba(0,0,0,.1);
}

nav > ul > li.logo > a {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.15em;
	font-style: italic;
	letter-spacing: normal;
	text-transform: none;
}
