section#content-main {
	padding: 90px 0;
}

section#content-main > .sidebar {
	background-color: #fafafa;
	border: 1px solid #eee;
	border-radius: 5px;
	color: rgb(153,153,153);
	font-size: .9em;
}

section#content-main > .sidebar ul {
	list-style-type: none;
}

section#content-main > .sidebar ul > li {
	display: block;
}

section#content-main > .sidebar ul > li > a {
	color: rgba(153,153,153,.75);
	display: block;
	padding: 6px 24px;
	text-shadow: none;
}

section#content-main > .sidebar ul > li.active > a {
	color: rgba(62,188,207,0.96);
}
