section#content
	padding-top: 90px
	min-height: -webkit-calc(100% - 166px);     /* Chrome */
	min-height: -moz-calc(100% - 166px);     /* Firefox */
	min-height: calc(100% - 166px);     /* native */

	.sidebar
		width: 100%
		margin: -1em 0 0
		padding: 0

[class^="col-"]
	> .paragraph, > h1, > h2, > h3
		padding: 0 10px

.center
	text-align: center


@media screen and (min-width: $large)
	section#content
		.sidebar
			padding: 0 0.5rem 0 2rem
			margin: 0
