#nudgespotInappContainer .nudgespot-launcher .nudgespot-launcher-inner
  background-color: $primary-dark !important

#nudgespotInappContainer .nudgespot-welcome-bubble .nudgespot-welcome-header
  background-color: $primary-dark !important


#nudgespotInappConversationsContainer .nudgespot-messages-container .nudgespot-new-conversation-content .nudgespot-welcome-message .nudgespot-welcome-message-header, #nudgespotInappMessagesContainer .nudgespot-messages-container .nudgespot-new-conversation-content .nudgespot-welcome-message .nudgespot-welcome-message-header
  background-color: $primary-dark !important

#nudgespotInappMessagesContainer .nudgespot-messages-container .nudgespot-message-content-container .nudgespot-message-details.nudgespot-message-subscriber .nudgespot-message-body
  background-color: $primary-dark !important

#nudgespotInappContainer .nudgespot-button, #nudgespotInappConversationsContainer .nudgespot-button, #nudgespotInappMessagesContainer .nudgespot-button
  background-color: $primary-dark !important

#nudgespotInappConversationsContainer .nudgespot-messages-container .nudgespot-messages-header .nudgespot-messages-header-contents .nudgespot-unread-count, #nudgespotInappMessagesContainer .nudgespot-messages-container .nudgespot-messages-header .nudgespot-messages-header-contents .nudgespot-unread-count
  background-color: $primary-dark !important
