p
  font-weight: 300

  &.bold
    font-weight: 400

  &.headline
    font-size: 1.2em
    text-transform: uppercase

  &.callout
    display: inline-block
    font-size: 1.2em
    text-transform: uppercase
    padding: 1.2em 2em
    border: 1px solid $text-light

a
  color: $white

  &:active, &:visited
    color: $white

  &:hover
    color: $primary-light

h1
  font-size: 2em
  line-height: 1em
