p
  font-weight: 300

  &.center
    text-align: center

  &.bold
    font-weight: 400

  &.headline
    font-size: 1.2em
    text-transform: uppercase

a
  color: $text

  &:hover
    color: $text-dark

  &:active, &:visited
   color: $text
