button, .btn {
	font-family: 'Roboto Condensed', sans-serif;
	display: inline-block;
	margin-bottom: 0;
	margin-bottom: 10px;
	padding: 6px 12px;
	border: 1px solid transparent;
	border-radius: 4px;
	border-radius: 5px;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.428571429;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.btn {
	color: #fff;
	background: #1976d2;
	padding: 15px 40px;
	border: solid 1px #fff;
	border-radius: 0;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 300;
}

.btn:hover {
	color: #fff;
	background: #4B8DCE;
}

.btn.btn-primary {
	border: solid 1px #1976d2;
	margin-left: 20px;
}

.btn.btn-secondary {
	background: #fff;
	color: #1976d2;
  margin-left: 20px;
	border: solid 1px #1976d2;
}
