extends includes/layout

block content
  section.page#content.wrapper.documentation-body
    aside.documentation-nav
      h6 Integration
      div: a(href="/integration") Basic Integration
      div: a(href="/migrate") Migrate from i18next
      
      
    section.documentation-content
      if page.showTitle !== false
        h1= page.title
      != page.content
      
  include includes/pagination
