extends includes/layout

block content
  section.page#content.wrapper.documentation-body
    aside.documentation-nav(i18next-options='{"ns": "common"}')
      h6 Integration
      div: a(href="/integration") Getting started
      div: a(href="/i18next") Using with i18next
      div: a(href="/migrate") Migrating i18next project
      
      
    section.documentation-content
      if page.showTitle !== false
        h1= page.title
      != page.content
      
  include includes/pagination
