extends includes/layout

block content
  section#content.wrapper
    
    .row
      .col-sm-8
        h1 Think global – get locized
        
        
      .col-sm-4.sidebar
        div(style="text-align: right;")
          a(href="/?lng=en") en
          |  | 
          a(href="/?lng=de") de

    .row
      .col-sm-8
          
        .paragraph
          p.headline
            | Get translated today. Effortless & Riskfree.
          p
            | We at locize help you to solve your localization and translation process, decreasing development time and cost.
    
        .box.box-dark.margin-top-40
          h3 Overview
          img(src="/images/locize_overview.svg")
          p locize enables you to separate your development and translation process by providing the full localization process from instrumenting your code, enabling translation of your content and further even enables you to order translations from our professional translation partners without leaving our app. 

        .paragraph            
          p.headline Localization as a service      
          p
            | Building a multinational business can be hard. Locize gets you translated and helps you to stay focused on your product.

    
        .box.box-dark.margin-top-40
          h3 Benefits
          ul
            li ・ Easy to integrate
            li ・ 14d free trial
            li ・ Order professional translations
            li ・ Analytics & Statistics
            li ・ Profit from our content delivery network
            li ・ Versioning of your translations
            li ・ Riskfree: Take your data with you
            li ・ Transparent and fair pricing
            
        

      
      .col-sm-4.sidebar
      
        //- .box.box-dark
        //-   h3 Corporate Pages
        //-   ul
        //-     li
        //-       a(href='#') About the company
        //-     li
        //-       a(href='#') Meet the Team
        //-     li
        //-       a(href='#') Our Mission
        
        .box.box-white
          include includes/recent-posts
        
