extends includes/layout

block content
  section#content.wrapper
    
    .row
      .col-sm-8
        h1 Think global – get locized
        
        
      //- .col-sm-4.sidebar
      //-   div(style="text-align: right;")
      //-     a(href="/?lng=en") en
      //-     |  | 
      //-     a(href="/?lng=de") de

    .row
      .col-sm-8
          
        .paragraph
          p.headline
            | Get translated today. Effortless & Riskfree.
          p
            | We at locize help you to solve your localization and translation process, decreasing development time and cost.
    

          .box.box-dark.margin-top-40
            p.headline(style="font-size: 16px") Flexible Integration
            p Choose between flexible options meeting your needs. From integration for wordpress to instrumenting your react.js or angular application for i18n. All as easy as dropping one line to your code.
            p There is no need for extra infrastructure - your translations will be served from our content delivery network.
            p Your webproject stays connected with locize. No more moving files around. Always keeping the overview.
          
          .box.box-dark.margin-top-40
            p.headline(style="font-size: 16px") Translation Management
            p locize provides a complete management. Your content gets automatically parsed from your website and transfered to your locize project.
            p From there you start translating while always being uptodate over current progress.
        

          .box.box-dark.margin-top-40
            p.headline(style="font-size: 16px") Professional Translation
            p Needing extra help - or prefer to completely outsource the localization - choose one of our translation service partners.
          
          .box.box-dark.margin-top-40
            p.headline(style="font-size: 16px") Localization Lifecycle
            p locize enables you to separate your development and translation process by providing a complete localization process.
            p Keep translating while the development adds new features to your webproject. Doing agile, lean or waterfall projects all is possible with the provided flexible versioning.
            
        .center
          p.callout.extra-margin Wanna get into our private Beta? 
            strong: a(href="mailto:support@locize.com") Contact us!
        
        //- .box.box-dark.margin-top-40
        //-   h3 Overview
        //-   img(src="/images/locize_overview_a.svg")
        //-   p locize enables you to separate your development and translation process by providing a complete localization process.
        //-   img(src="/images/locize_overview_b.svg")
        //-   p From instrumenting your code, translating your content to enabling ordering professional translations without leaving your locize project. 

        .paragraph            
          p.headline Localization as a service      
          p
            | Building a multinational business can be challenging. Locize gets you translated and keeps you focused on your product.

    
        .box.box-dark.margin-top-40
          h3 Benefits
          ul
            li ・ Easy to integrate
            li ・ 14d free trial
            li ・ Order professional translations
            li ・ Analytics & Statistics
            li ・ Profit from our content delivery network
            li ・ Versioning of your translations
            li ・ Riskfree: Take your data with you
            li ・ Transparent and fair pricing
        
        
        iframe.youtube(type='text/html' width='528' height='298'
          src='https://www.youtube.com/embed/8ODV9MSUP5Y'
          frameborder='0')

      
      .col-sm-4.sidebar
      
        //- .box.box-dark
        //-   h3 Corporate Pages
        //-   ul
        //-     li
        //-       a(href='#') About the company
        //-     li
        //-       a(href='#') Meet the Team
        //-     li
        //-       a(href='#') Our Mission
        
        .box.box-white
          include includes/recent-posts


        .box.box-white
          h3 Social
          ul.recent-posts
            li
              a.twitter-follow-button(href='https://twitter.com/locize', data-show-count='false', data-size='large') Follow @locize
                script.
                  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
                
            li
              script(src='https://apis.google.com/js/platform.js')
              .g-ytsubscribe(data-channelid='UCPYQjBbbXojUcB8qjeIB3uA', data-layout='full', data-count='hidden')


        
