extends includes/layout

block content
  section#content-main.wrapper
    include includes/recent-posts
    include includes/pagination
    
  
    .row
      .col-md-8
        h1 About
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis nulla in porttitor pharetra. Proin sit amet ipsum non tellus imperdiet viverra sed et sem. Nullam ligula tellus, feugiat a dolor ac, laoreet hendrerit neque. Donec vitae congue dui. Nulla varius lobortis nunc in adipiscing. Mauris sollicitudin tortor nec quam dapibus, nec euismod sem tincidunt. Sed sed ante urna. Curabitur sollicitudin enim id sapien fringilla pharetra in nec lectus. Praesent quis dolor bibendum lacus ullamcorper convallis nec consequat ligula. Sed augue ligula, feugiat sodales elit id, pretium tristique tortor. Proin malesuada tellus vel augue pharetra, a tempor massa varius. Quisque non euismod ipsum. Sed diam turpis, posuere at velit ut, vehicula faucibus nisi. Fusce rhoncus tincidunt erat vitae tincidunt.
        p
          | Suspendisse sed turpis vitae turpis condimentum eleifend. Ut faucibus iaculis urna, ut fringilla neque tristique a. Fusce dui nulla, venenatis lobortis dui eu, porta rutrum sapien. Donec lobortis est vel magna semper laoreet. Donec eu tortor pulvinar, sagittis nulla ac, adipiscing mauris. Vivamus iaculis commodo mattis. Aliquam vehicula, diam sit amet sagittis imperdiet, felis nulla molestie velit, quis luctus dui mi vel libero. In lobortis, velit id tincidunt venenatis, sapien tortor gravida quam, non condimentum enim erat nec purus. Ut velit nisl, vulputate eu sapien non, tristique mollis neque.
      .col-md-4.sidebar
        h3 Corporate Pages
        ul
          li.active
            a(href='#') About the company
          li
            a(href='#') Meet the Team
          li
            a(href='#') Our Mission
  footer.wrapper
    .row
      .col-md-12
        p Copyright MySite.com 2014 ©
