extends includes/layout

block content
  section#content.wrapper
    
    .row
      .col-sm-8
        h1 Think global – get locized
        
        
      //- .col-sm-4.sidebar
      //-   div(style="text-align: right;")
      //-     a(href="/?lng=en") en
      //-     |  | 
      //-     a(href="/?lng=de") de

    .row
      .col-sm-8
          
        .paragraph
          p.headline
            | Get translated today. Effortless & Riskfree.
          p
            | We at locize help you to solve your localization and translation process, decreasing development time and cost.
    
        
        .center
          p.callout.extra-margin Wanna get into our private Beta? 
            strong: a(href="mailto:support@locize.com") Contact us!
        
        .box.box-dark.margin-top-40
          h3 Overview
          img(src="/images/locize_overview_a.svg")
          p locize enables you to separate your development and translation process by providing a complete localization process.
          img(src="/images/locize_overview_b.svg")
          p From instrumenting your code, translating your content to enabling ordering professional translations without leaving your locize project. 

        .paragraph            
          p.headline Localization as a service      
          p
            | Building a multinational business can be challenging. Locize gets you translated and keeps you focused on your product.

    
        .box.box-dark.margin-top-40
          h3 Benefits
          ul
            li ・ Easy to integrate
            li ・ 14d free trial
            li ・ Order professional translations
            li ・ Analytics & Statistics
            li ・ Profit from our content delivery network
            li ・ Versioning of your translations
            li ・ Riskfree: Take your data with you
            li ・ Transparent and fair pricing
        
        
        iframe(type='text/html' width='528' height='287'
          src='https://www.youtube.com/embed/8ODV9MSUP5Y'
          frameborder='0')

      
      .col-sm-4.sidebar
      
        //- .box.box-dark
        //-   h3 Corporate Pages
        //-   ul
        //-     li
        //-       a(href='#') About the company
        //-     li
        //-       a(href='#') Meet the Team
        //-     li
        //-       a(href='#') Our Mission
        
        .box.box-white
          include includes/recent-posts
        
