extends includes/layout

block content
  section#content.wrapper
    
    .row
      .col-sm-8
        h1 Think global – get locized
        
        
      .col-sm-4.sidebar
        div(style="text-align: right;")
          a(href="/?lng=en") en
          |  | 
          a(href="/?lng=de") de

    .row
      .col-sm-8
          
        .paragraph
          p.headline
            | Get translated today. Effortless & Riskfree.
          p
            | We at locize help you to solve your localization and translation process, decreasing development time and cost.
      
        .box.box-dark.margin-top-40
          h3 Benefits
          ul
            li ・ Easy to integrate
            li ・ 14d free trial
            li ・ Order professional translations
            li ・ Analytics & Statistics
            li ・ Profit from our content delivery network
            li ・ Versioning of your translations
            li ・ Riskfree: Take your data with you
            li ・ Transparent and fair pricing
            
        .paragraph            
          p.headline Localization as a service      
          p
            | Building a multinational business can be hard. Locize gets you translated and helps you to stay focused on your product.
      

      
      .col-sm-4.sidebar
      
        //- .box.box-dark
        //-   h3 Corporate Pages
        //-   ul
        //-     li
        //-       a(href='#') About the company
        //-     li
        //-       a(href='#') Meet the Team
        //-     li
        //-       a(href='#') Our Mission
        
        .box.box-white
          include includes/recent-posts
        
