extends includes/layout

block content
  section#content.wrapper
    
    .row
      .col-sm-8
        h1 Think global – get locized
  
    .row
      .col-sm-8
        .paragraph
          p.headline
            | Get translated today. Effortless & Riskfree.
          p
            | We at locize help you to automate your localization and translation process, decreasing development time and cost.
      
        
          p.headline Localization as a service      
          p
            | Get your resources served with highspeed and with low latency. Benefit from our cloud knowhow. Our content delivery network serves your translations worldwide.
      
      
        .box.box-dark.margin-top-40
          h3 Benefits
          ul
            li Easy to integrate
            li Order professional translations
            li Analytics & Statistics
            li Profit from our content delivery network
            li Versioning of your translations
            li Riskfree: Take your data with you
            li Transparent and fair pricing
      
      .col-xs-12.col-sm-4.sidebar
      
        .box.box-dark
          h3 Corporate Pages
          ul
            li
              a(href='#') About the company
            li
              a(href='#') Meet the Team
            li
              a(href='#') Our Mission
        
        .box.box-white
          include includes/recent-posts
        
  footer.wrapper
    .row
      .col-md-12
        p Copyright MySite.com 2014 ©
